<header>
    <div class="pulse-effect">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
   </div>
    <div class="contact">
        <div class="float1">
            <div class="phone">
                <span>📞</span>
                <p> {{ phone }}</p>
            </div>
            <div class="email">
                <span>📩</span>
                <p> {{ email }}</p>
            </div>
            <div class="city">
                <span>🏠</span>
                <p> {{ city }}</p>
            </div>
            <div class="btns">
                <a class="cv-btn" href="./../../assets/files/HamZa Samha (CV).pdf" download="HamZa Samha CV">Download CV</a>
                <a class="cv-btn" href="https://www.canva.com/design/DAFIK9v5xug/MIEwEUE2V7gRbKUxCyKUHg/view?utm_content=DAFIK9v5xug&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">Open CV</a>
            </div>
        </div>
        <div class="float2"></div>
        <div class="float3"></div>
    </div>
</header>