
header{
    /* animation: float 5s ease-in-out infinite; */
    position: absolute;
    right: 50px;
    top: 30px;
}

.float1{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px;
    border-radius: 15px;
    box-shadow: 7px -7px 10px #bbb;
    z-index: 1;
}
.float1 p{
    margin: 2px;
}

.float1 .cv-btn{
    transition: 100ms;
    transform: translateY(10px);
    width: 100px;
    background-color: rgb(63, 63, 63);
    color: #eee;
    cursor: pointer;
    border-radius: 5px;
}
.float1 .cv-btn:hover{
    box-shadow: 2px -2px 5px #ddd;
}
.float2{
    box-shadow: 3px -3px 5px #ddd;
    border: 1px solid #ccc;
    width: 30px;
    height: 10px;
    border-radius: 10px;
    margin: 5px 0;
}

.float3{
    box-shadow: 3px -3px 5px #ddd;
    border: 1px solid #ccc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }