<div>
    <h2>BSc | Software Engineering</h2>
    <a href="https://www.wise.edu.jo/" target="_blank">
        <img src="./../../assets/images/wiselogo.gif" alt="">
        The World Islamic Sciense & Education University <span> <i>(WISE)</i></span>
    </a>
    <details>
        <summary>
            2018 - 2022
        </summary>
    </details>
    <details>
        <summary>
            GPA: Very Good
        </summary>
    </details>
</div>
<br><br>
<div>
    <h2>Full-Stack .NET Development</h2>
    <a href="http://www.ltuc.edu.jo/" target="_blank">
        <img src="./../../assets/images/ltuclogo.jpg" alt="">
        Luminus Technichal University College <span> <i>(LTUC)</i></span>
    </a>
    <details>
        <summary>
            2/2022 - 8/2022
        </summary>
    </details>
    <details>
        <summary>
            GPA: 93
        </summary>
    </details>
</div>