<app-side-nav></app-side-nav>
<div class="router-outlet">
    <app-header></app-header>
    <!-- <app-next-page></app-next-page> -->
    <!-- <router-outlet></router-outlet> -->
    <div class="home">
        <app-home></app-home>
    </div>
    <div class="about" id="about">
        <app-about></app-about>
    </div>
    <br><br>
    <br><br>
    <br><br>
    <app-education></app-education>
    <app-projects></app-projects>
    <app-contact></app-contact>

    <img src="./../assets/images/earth.gif" alt="">
</div>

