.router-outlet{
    height: 100%;
    margin-left: 350px;
}

.home{
    height: 100%;
}

h3 {
 color: dodgerblue;
}

hr {
    width: 10%;
    margin-bottom: 20px;
}

.education{ 
    margin: 20% 0;
}

.projects{ 
    margin-bottom: 30%;
}

@media only screen and (max-width: 950px){
    .router-outlet{
        margin: 20px;
    }
    .education{ 
        margin: 30% 0;
    }
}
