<div class="footer">
    <!-- <p>Let’s make something special.</p> -->
    <div class="content">
        <a class="cv-btn" href="./../../assets/files/HamZa Samha (CV).pdf" download="HamZa Samha CV">Download CV</a>
        <img src="./../assets/images/earth.gif" alt="">
        <a class="cv-btn" href="https://www.canva.com/design/DAFIK9v5xug/MIEwEUE2V7gRbKUxCyKUHg/view?utm_content=DAFIK9v5xug&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">Open CV</a>
    </div>
</div>