<div class="container">
    <p class="title">WHO AM I ?</p>
    <h2>HamZa A. Samha,</h2>
    <div class="bio"></div>
        <p>I’m a Web Developer located in Jordan. I have a serious passion for Programming, and creating websites.</p>
        <p>
            Well-organized & analyzer person, problem solver, with high attention to detail,
            Looking forward to the future, where I can learn new things & expand my knowledge
        </p>
        <a href="./../../assets/files/HamZa Samha (CV).pdf" download="HamZa Samha CV">Let’s make something special.</a>
    <p class="title" style="margin: 50px 0 30px ;">MY CORE SKILLS</p>
    <div class="skills">
        <img src="./../../assets/images/techs/c-sharp.png" alt="">
        <img src="./../../assets/images/techs/java.png" alt="">
        <img src="./../../assets/images/techs/html.png" alt="">
        <img src="./../../assets/images/techs/css.png" alt="">
        <img src="./../../assets/images/techs/js.png" alt="">
        <img src="./../../assets/images/techs/angular.png" alt="">
        <h4>...etc</h4>
    </div>
</div>