<div class="container">
    <p class="title">WHO AM I ?</p>
    <p class="bio">HamZa Akram Samha, <br>Working as a <b>{{company.position}}</b> at <a href="http://www.altshiftcreative.com/">{{this.company.name}}</a> company since <span>{{this.company.startingDate}}</span>. 
        I have a Bachelor's degree in <b>Software Engineering</b>. Also, I have got 600-hours course in Full Stack Software development at <a href="http://www.ltuc.com/">LTUC - ASAC</a> powered by <a href="https://www.codefellows.org/">Code Fellows</a>.
        I have good knowledge in data structures and algorithms, and I have built several software projects.</p>
    <p class="title" style="margin: 50px 0 30px ;">MY CORE SKILLS</p>
    <div class="skills">
        <img src="./../../assets/images/techs/html.png" alt="">
        <img src="./../../assets/images/techs/css.png" alt="">
        <img src="./../../assets/images/techs/js.png" alt="">
        <img src="./../../assets/images/techs/angular.png" alt="">
        <img src="./../../assets/images/techs/c-sharp.png" alt="">
        <img src="./../../assets/images/techs/java.png" alt="">
        <h1>...</h1>
    </div>
</div>