main{
    position: absolute;
    left: 55%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    height: 300px;
    /* width: 400px */
}

h1{
    color: rgb(65, 65, 65);
    display: inline-block;
}


p{
    color: dodgerblue;
}

#title1{
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 0 15px dodgerblue;
}

#title2{
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 0 15px dodgerblue;
}

.cursor{
    font-size: 60px;
    color: dodgerblue;
}

.cursor-animation{
    animation: typing 2s;
    color: aliceblue;

}


@keyframes typing{
    0%{
        /* color:  #111; */
        color:  dodgerblue;
    }
    10%{
        /* color:  #111; */
        color:  dodgerblue;
    }
    20%{
        /* color:  #111; */
        color:  dodgerblue;
    }
    30%{
        /* color:  #111; */
        color:  dodgerblue;
    }
    40%{
        color: aliceblue;
    }
    50%{
        /* color:  #111; */
        color:  dodgerblue;
    }
    60%{
        color: aliceblue;
    }
    70%{
        /* color:  #111; */
        color:  dodgerblue;
    }
    80%{
        color: aliceblue;
    }
    90%{
        /* color:  #111; */
        color:  dodgerblue;
    }
    100%{
        color: aliceblue;
    }
}
